[data-tab-content] 
{
  display: none;
}

[data-tab-content].active 
{
  display: block;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #d0e8f2; 
}

.tabs 
{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}

.tab 
{
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s ease-in-out; 
}

.tab.active 
{
  background-color: #ccc;
}

.tab:hover 
{
  background-color: #aaa;  
  transform: scale(1.1);  
}

.tab-content 
{
  margin: 20px;
}


